/*********************************************************************************************************/
/*                                      AUTHOR: Pranitha Maganty                                         */
/*                                          TITLE: style.css                                             */
/*                                    PROJECT: Work Day Scheduler                                        */
/*********************************************************************************************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
  
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.entry {
  height: 70px;
}

.time {
  width: 10%;
  text-align: right;
  border-right: rgb(197, 197, 197) solid 4px;
  border-top: rgb(230, 227, 227) solid 2px;
}

.tasks {
  border-bottom: white solid 2px;
  width: 80%;
}

.user_input {
    width: 100%;
    height: 66px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background: transparent;
    border: none;
}

/*.save {
  width: 10%;
}*/

.save_button {
    background: rgb(47, 158, 192);
    padding: 26px;
    color: white;
    margin: 0px;
    border: 0px;
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
}

.save_button i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

table {
  width: 100%;
}

.red {
  background-color: #ff6961 !important;
}

.green {
  background-color: #77dd77 !important;
}

.grey {
  background-color: #d3d3d3 !important;
}

.row {
    white-space: normal;
}